:root {
  /* colors */
  --white: #fff;
  --sheer-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --sheer-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 100vw;
  justify-content: center;
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: Neucha, sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin: 0;
}

/* header */

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  background: var(--light);
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.content {
  width: 1110px;
  position: relative;
  padding: 100px 0;
}
section {
  width: 100%;
  align-items: center;
  margin: 100px 0 100px;
  text-align: center;
}
.header-title {
  position: absolute;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 185px;
}

.text-orange {
  color: var(--main);
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  z-index: 0;
}

.header-text {
  display: flex;
  column-count: 2;
  margin: 0;
  margin-top: 443px;
  column-gap: 30px;
}

.left-text,
.right-text {
  width: 540px;
}

.button-detail {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  background-color: var(--main);
}

.button-detail:hover {
  background-color: #ea7600;
}
/* video-section */
.marg {
  margin-bottom: 30px;
}
iframe {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
/*nav-section*/
.nav-background {
  background-color: #42413c;
}
.flex-nav {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.h3style {
  font-size: 52px;
  color: #fff;
}
.card-style {
  padding: 24px;
}
.numbers {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha;
  line-height: 1;
}
.a {
  background-color: #f5f4f0;
  position: flex;
  width: 350px;
  height: 323px;
  left: 545px;
  top: 100px;
  color: #42413c;
  text-decoration: none;
  margin: 20px;
}
.card {
  width: 350px;
  height: 323px;
  top: 100px;
  left: 165px;
}
